<!-- views/error.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error Page</title>
  <link rel="stylesheet" type="text/css" href="/error.css">
</head>

<body>
  <div class="error-container">
    <h1>Oops! Something went wrong.</h1>
    <p>We encountered an error while processing your request.</p>
    <p>Please try again later or contact support.</p>
    <img src="/images/error-image.png" alt="Error Image">
    
  </div>
</body>

</html>
