

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.user-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

.action-btn {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

.action-btn:hover {
    background-color: #005F6B;

}

.edit-btn {
    background-color: #4CAF50;
   
}

.delete-btn {
    background-color: #E74C3C;
}


.search-container {
    margin: 20px auto;
    text-align: center;
}

label {
    font-size: 16px;
    color: #333;
    margin-right: 10px;
}

#search {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

#search:focus {
    border-color: #4CAF50;
    outline: none;
}